@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* color: #5E0000; */
    background: #fff;
    /* background: url("../src/assets/images/banner.png"); */
}

.loader{
    @apply border-gray-200 rounded-full border-4 ease-linear w-10 h-10;
    border-top-color: #363ce0;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}